a {
  color: #9cacc4;
  text-decoration: underline;
}

a:hover {
  color: #c1c4c9;
}

#result-source {
  margin-top: 12px;
}

#result-source {
  margin-top: 16px;
}

#search-page-body {
  padding: 2%;
  background: var(--bs-white);
  font-family: Roboto, sans-serif;
  max-width: 950px;
}

#search-source {
  width: auto;
  flex: 0 0 auto;
}

#results-container {
  max-height: 300px;
  overflow-y: scroll;
}

#result-rows {
  max-height: 25em;
  overflow-y: scroll;
}

#home-icon {
  height: 18px;
  font-size: 32px;
  color: var(--bs-blue);
}

