<div id="book-detail-partial">
    <div class="row">
        <div class="col col-auto">
            <div class="card rounded-3 shadow mt-3 px-3">
                <div class="card-body">
                    <h4 class="card-title">{{ book.Title }}</h4>
                    <h6 class="text-muted card-subtitle mb-2">{{ book.Author }}</h6>
                    <div class="row">
                        <div class="col col-auto"><span>{{ book.Genre }}</span></div>
                        <div class="col col-auto"><span>{{ book.Publisher }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
